/* #Responsive Styles
================================================== */

/*
* Swift Framework Responsive Stylesheet v1.0
* Responsive Stylesheet for Display on Devices
* Copyright Swift Ideas 2015
*/


/* --------------------------------------------
	WORDPRESS ADMIN BAR SPACING
-------------------------------------------- */

@media screen and (max-width: 782px) {
	body.has-wpadminbar {
		padding-top: 46px;
	}
}


/* --------------------------------------------
	VERTICAL MEDIA QUERIES
-------------------------------------------- */

@media screen and (max-height: 800px) {
	.vertical-menu nav ul.menu > li > a {
		padding: 8px 18px;
	}
}
@media screen and (max-height: 600px) {
	.vertical-menu-bottom {
		display: none;
	}
}

/* --------------------------------------------
	LARGE DISPLAYS
-------------------------------------------- */

@media only screen and (min-width: 1800px) {

	/* BLOG */
	.blog-masonry-fw .col-sm-3, .fw-row .blog-masonry .col-sm-3 {
		width: 20%;
	}
	
	/* MEGA MENU */
	#mega-menu-wrap-main_navigation #mega-menu-main_navigation > li.mega-menu-megamenu > ul.mega-sub-menu {
		min-width: 1170px;
		max-width: 100%; 
	}
}

@media only screen and (min-width: 1200px) {

	/* LAYOUT */
	.layout-boxed #container, .boxed-inner-page #main-container {
		width: 1200px;
	}

	/* HEADER */
	nav.mega-menu li.sf-mega-menu-fw .sub-container {
		width: 1140px!important;
	}
	nav.mega-menu li.sf-mega-menu-fw .mega .sub, nav.mega-menu li.sf-mega-menu-fw .mega .sub > .row {
		width: 1140px!important;
	}
	#header .is-sticky .sticky-header {
		max-width: 1140px!important;
	}
	.boxed-layout #header-section #header .is-sticky .sticky-header {
		max-width: 1230px;
	}
	.boxed-layout #header-section.header-3 #header .is-sticky .sticky-header, .boxed-layout #header-section.header-4 #header .is-sticky .sticky-header, .boxed-layout #header-section.header-5 #header .is-sticky .sticky-header {
		max-width: 1140px;
	}
	.boxed-layout #header-section .is-sticky #main-nav.sticky-header, .boxed-layout #header-section.header-6 .is-sticky #header.sticky-header {
		width: 1230px;
	}
	.full-center nav.float-alt-menu ul.menu > li > a, .full-center #header nav.std-menu ul.menu > li > a {
		padding: 0 15px;
	}

	/* PRODUCTS */
	.woocommerce div.product form.cart div.quantity, .woocommerce.vertical-header .has-no-sidebar div.product form.cart div.quantity {
		float: left;
		margin-bottom: 0;
		margin-right: 20px;
	}
	
	/* MEGA MENU */
	.mm-custom-theme #mega-menu-wrap-main_navigation #mega-menu-main_navigation > li.mega-menu-megamenu > ul.mega-sub-menu {
		min-width: 800px;
	    right: 0;
	    left: auto;
		max-width: 100%; 
	}
}

@media only screen and (min-width: 1250px) {

	/* LAYOUT */
	#container.boxed-layout {
		width: 1230px;
	}

}

@media only screen and (max-width: 1440px) {
	.carousel-wrap > a.carousel-prev {
		left: 55px;
	}
	.carousel-wrap > a.carousel-next {
		right: 55px;
	}
}

@media only screen and (max-width: 1260px) {
	.single-product.page-heading-fancy div.product form.cart div.quantity, .single-product.product-fw-split div.product form.cart div.quantity {
		float: none;
		overflow: hidden;
		display: block;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1200px) {
	.woocommerce.product-fw-split div.product form.cart div.quantity, .woocommerce.vertical-header .has-no-sidebar div.product form.cart div.quantity {
		float: none;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.woocommerce .cart .yith-wcwl-divide {
		display: none;
	}
	.woocommerce .cart .yith-wcwl-add-to-wishlist, .yith-wcwl-add-to-wishlist.oos {
		margin-left: 20px;
	}
	
	/* PORTFOLIO */
	.gallery-item figcaption .thumb-info, .gallery-hover figcaption .thumb-info {
		width: 80%;
		padding: 0 10px;
	}
}

@media (max-width: 1020px) {
	#jckqv_images_wrap {
		width: 100%;
		padding-bottom: 40px;
	}
	#jckqv_summary {
		width: 100%;
		padding: 0;
	}
}

/* --------------------------------------------
	iPAD/TABLET LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 1024px) {
		
	#sf-styleswitch-trigger {
		display: none!important;
	}
	
	/* LAYOUT */
	.layout-boxed #container, .boxed-inner-page #main-container, .layout-boxed #sf-newsletter-bar {
		width: 100%;
	}
	.boxed-inner-page #container {
		padding-top: 70px;
	}
	.boxed-inner-page #main-container {
		margin-bottom: 70px;
	}	
	.sf-site-right-border, .sf-site-left-border, .sf-site-top-border, .sf-site-bottom-border {
		display: none;
	}

	/* HEADER */
	#header .sticky-wrapper {
		height: auto!important;
	}
	.logo-right nav .menu > li > ul {
		left: 0!important;
	}
	.logo-left nav .menu > li > ul {
		right: 0!important;
		left: auto!important;
	}
	nav.mega-menu li.sf-mega-menu-fw .sub-container {
		width: 940px!important;
	}
	body.mhs-tablet-land.overlay-menu-open {
		overflow: scroll;
	}
	.mhs-tablet-land #mobile-top-text, .mhs-tablet-land #mobile-header, .mhs-tablet-land #mobile-header-sticky-wrapper {
		display: block;
	}
	.mhs-tablet-land .header-wrap, .mhs-tablet-land #top-bar, .mhs-tablet-land #top-bar-sticky-wrapper {
		display: none;
	}
	.mhs-tablet-land .vertical-header #site-loading, .mhs-tablet-land .vertical-header-right #site-loading {
		padding-left: 0;
		padding-right: 0;
	}
	.mhs-tablet-land.vertical-header #container, .mhs-tablet-land.vertical-header #main-container {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	body.vertical-header.mhs-tablet-land #site-loading .spinner {
		left: auto;
		right: auto;
	}
	/*.mhs-tablet-land .sticky-widget.stickit {
		position: relative!important;
	}*/
	.app-header .fancy-heading-wrap {
		position: relative;
	}
	.app-header .fancy-heading-wrap .page-heading {
		background-size: cover;
	}
	#main-container .inner-container-wrap {
		margin-top: 0!important;
	}

	/* GENERAL */
	#one-page-nav {
		display: none!important;
	}
	.page-heading.fancy-heading {
		padding-top: 80px;
		padding-bottom: 80px!important;
		background-attachment: scroll;
		background-size: cover;
		-webkit-background-size: cover;
		background-position: center center!important;
	}
	.fancy-heading .heading-text {
		opacity: 1!important;
		letter-spacing: 0px!important;
	}
	.carousel-wrap a.prev, .carousel-wrap a.next, .flex-direction-nav {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
	#sf-newsletter-bar {
		display: none!important;
	}

	/* WOOCOMMERCE */
	.woocommerce .products .product figure figcaption {
		display: none;
	}
	.product figure .cart-overlay {
		opacity: 1;
	}
	.product figure .woocommerce span.onsale, .product figure .woocommerce .wc-new-badge, .product figure .woocommerce .out-of-stock-badge, .product figure .woocommerce .free-badge {
		display: none;
	}
	.sf-parallax-video video {
		top: 0!important;
	}
	.spb_parallax_asset {
		background-attachment: scroll!important;
		background-position: center center!important;
	}
	.team-member figcaption span {
		display: none;
	}
	.spb_parallax_asset {
		background-position: 50% 0!important;
	}
	.product-fw-split .product-main {
		height: auto!important;
	}
	.review-order-wrap {
		padding: 30px 35px 0;
	}
	.review-order-wrap #payment {
	    margin: 0px -35px 0;
	}
	.woocommerce #payment ul.payment_methods {
		padding: 15px 35px;
	}
	.woocommerce #payment .terms {
		padding: 10px 35px;
	}
	
	/* SHORTCODES */
	.blog-grid-items .blog-item.col-sm-sf-5 {
		width: 50%;
	}
	.blog-grid-items .blog-item.col-sm-sf-25 {
		width: 100%!important;
	}

	/* BLOG */
	.blog-masonry-fw .col-sm-3, .fw-row .blog-masonry .col-sm-3 {
		width: 33.3%;
	}
	article.post.single-post-standard figure.media-wrap {
		margin-bottom: 20px;
	}
	.single-post .uplift-post-wrap {
		padding-left: 0;
	}
	.uplift-post-wrap .side-post-info, .single-post .has-no-sidebar .side-post-info {
		width: 100%;
		position: relative;
		padding: 0;
	}
	.side-post-info .post-details > div {
		float: left;
		margin-right: 10px;
		border-bottom-width: 0;
		padding: 0 0 10px;
	}
	.side-post-info .author-avatar, .side-post-info .comments-likes, .side-post-info .post-share {
		display: none;
	}
	.single-post .has-no-sidebar .content-wrap {
	    padding-left: 15px;
		width: 100%;	
	}
}

@media only screen and (min-width: 992px) {
	.hero-content-split #main-container > .fancy-heading-wrap .page-heading {
		height: 100%!important;
	}
	.hero-content-split .page-heading h1 {
		float: none!important;
	}
	.hero-content-split .page-heading-breadcrumbs #breadcrumbs {
		float: none!important;
		position: relative!important;
		right: 0!important;
	}
	.hero-content-split .page-heading-breadcrumbs #breadcrumbs > .container {
		padding: 0!important;
	}
	.hero-content-split .fancy-heading-wrap .container, .hero-content-split .inner-container-wrap .container {
		max-width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.hero-content-split.single-post .uplift-post-wrap {
		padding-left: 0;
	}
	.hero-content-split .uplift-post-wrap .side-post-info, .hero-content-split.single-post .has-no-sidebar .side-post-info {
		width: 100%;
		position: relative;
		padding: 0;
	}
	.hero-content-split .side-post-info .post-details > div {
		float: left;
		margin-right: 10px;
		border-bottom-width: 0;
		padding: 0 0 10px;
	}
	.hero-content-split .side-post-info .author-avatar, .hero-content-split .side-post-info .comments-likes, .hero-content-split .side-post-info .post-share {
		display: none;
	}
	.hero-content-split.single-post .has-no-sidebar .content-wrap {
	    padding-left: 15px;
		width: 100%;	
	}
	.hero-content-split #comment-area {
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}



/* --------------------------------------------
	iPAD/TABLET PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 991px) {

	/* LAYOUT */
	#container.boxed-layout {
		width: auto;
	}
	.hero-content-split #main-container > .page-heading, .hero-content-split #main-container > .fancy-heading-wrap {
		float: none;
		width: 100%;
		height: auto;
	}
	.hero-content-split #main-container > .container {
		float: none;
		width: 100%;
		height: auto;
		overflow: auto;
	}
	.hero-content-split #main-container {
		height: auto!important;
	}
	.swiper-slide .caption-content {
		padding: 0;
	}
	.sf-promo-bar>.container {
		text-align: center;
	}
	.sf-promo-bar.promo-button>.container a.sf-button {
		float: none;
		margin-top: 20px;
	}

	/* HEADER */
	#header .is-sticky .sticky-header {
		left: 0;
	}
	nav.mega-menu li.sf-mega-menu-fw .sub-container {
		width: 720px!important;
	}
	nav.mega-menu li.sf-mega-menu-fw .mega .sub, nav.mega-menu li.sf-mega-menu-fw .mega .sub > .row {
		width: 720px!important;
	}
	body.mhs-tablet-port.overlay-menu-open {
		overflow: scroll;
	}
	.mhs-tablet-port #mobile-top-text, .mhs-tablet-port #mobile-header, .mhs-tablet-port #mobile-header-sticky-wrapper  {
		display: block;
	}
	.mhs-tablet-port .header-wrap, .mhs-tablet-port #top-bar, .mhs-tablet-port #top-bar-sticky-wrapper {
		display: none;
	}
	.mhs-tablet-port.vertical-header #container, .mhs-tablet-port.vertical-header #main-container {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	body.vertical-header.mhs-table-port #site-loading .spinner {
		left: auto;
		right: auto;
	}
	/*.mhs-tablet-port .sticky-widget.stickit {
		position: relative!important;
	}*/

	/* FOOTER */
	.footer-spacer {
		display: none;
	}
	#footer-wrap {
		position: relative;
	}
	#copyright {
		padding: 20px;
	}
	#copyright p {
		float: none;
		text-align: center;
	}
	#copyright .text-left {
		width: 100%;
		float: none;
		margin-bottom: 20px;
		max-width: 100%;
		text-align: center;
	}
	#copyright .text-right {
		width: 100%;
		float: none;
		max-width: 100%;
		text-align: center;
	}
	#copyright nav .menu {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	#copyright nav .menu li {
		float: none;
	}

	/* POSTS */
	.post-details-wrap .post-share {
		margin-left: 0;
		padding-left: 0;
		border-left-width: 0;
		width: 100%;
	}
	.blog-masonry-fw .col-sm-3, .fw-row .blog-masonry .col-sm-3 {
		width: 50%;
	}
	.masonry-items .blog-item {
		width: 50%;
	}
	.post-pagination .blog-button {
		display: none;
	}
	.mini-items .blog-item figure {
		width: 50%!important;
		margin-right: 2%;
	}
	.mini-items .blog-item:nth-child(even) figure {
		margin-right: 0;
		margin-left: 2%;
	}
	.mini-items .blog-item .blog-details-wrap {
		width: 48%;
		float: left;
	}
	.has-no-sidebar .timeline-items::before {
		left: 25px;
	}
	.has-no-sidebar .timeline-item-format-icon, .has-no-sidebar .timeline-item-format-icon-bg {
		left: 25px;
	}
	.has-no-sidebar .blog-item .timeline-item-content-wrap {
		float: left!important;
		width: 100%!important;
		padding-left: 80px!important;
		padding-right: 0!important;
	}
	.has-no-sidebar .blog-item:nth-child(odd) .timeline-item-format-icon::before {
		right: auto;
		left: 100%;
		border-left-width: 1px;
		border-bottom-width: 1px;
		border-right-width: 0;
		border-top-width: 0;
		transform: rotate(-140deg);
		margin-left: -5px;
	}
	.has-no-sidebar .blog-timeline #infscr-loading {
		text-align: left;
		padding: 0;
		margin: 20px 0 0 -2px;
	}
	.cssanimations .has-no-sidebar .blog-item:nth-child(odd) .timeline-item-content-wrap.bounce-in {
	    -webkit-animation: timeline-bounce-2 0.6s;
	    -moz-animation: timeline-bounce-2 0.6s;
	    animation: timeline-bounce-2 0.6s;
	}

	/* TEAM MEMBER */
	article.type-team .profile-image-wrap {
		float: none;
		width: 100%;
	}
	article.type-team .article-body-wrap {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-top: 20px;
	}
	
	/* PORTFOLIO */
	.item-details.horizontal-details .portfolio-categories {
		float: none;
		clear: both;
		margin-left: 0;
		padding-left: 0;
		border-left-width: 0;
	}
	.item-details.horizontal-details .item-link {
		margin-left: 0;
	}

	/* WIDGETS */
	.widget_lip_most_loved_widget .loved-item > a {
		max-width: 60%;
	}
	.widget_sf_infocus_widget .infocus-item h5 {
		max-width: 70%;
	}

	/* SHORTCODES */
	.portfolio-showcase-wrap ul[data-columns="4"] li {
		width: 50%!important;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li .main-image {
		left: 0!important;
		width: 100%!important;
	}
	.portfolio-showcase-wrap ul[data-columns="5"] li .item-info h4 {
		width: 50%;
	}
	.spb_gallery_widget .gallery-nav {
		display: none;
	}
	.gallery .gallery-item {
		min-width: 29.3%!important;
	}
	.testimonials.carousel-items.showcase-carousel li .testimonial-text {
		padding: 0 60px;
	}

	/* WOOCOMMERCE */
	.woocommerce .help-bar {
		text-align: center;
	}
	.woocommerce .help-bar span {
		float: none;
	}
	.woocommerce .help-bar ul {
		float: none;
		text-align: center;
	}
	.woocommerce .help-bar ul li {
		display: inline-block;
		float: none;
		margin-top: 15px;
	}
	.full-width-shop .product, .full-width-shop .sidebar[class*="col-sm"] {
		width: 33.3%;
	}
	.products .product .preview-slider-item-wrapper .product-details .posted_in {
		text-align: inherit;
	}
	table.totals_table {
		width: 40%;
	}
	#order_review table.shop_table td.product-img {
		width: 15%;
	}
	#order_review table.shop_table td.product-description {
		width: 55%;
	}
	.cart-items-wrap {
		width: 100%;
		margin-bottom: 30px;
	}
	.cart-totals-wrap {
		width: 100%;
	}
	.woocommerce-cart .woocommerce .span9, .woocommerce-cart .woocommerce .span3 {
		width: 100%;
		float: none;
		padding-left: 10px;
		clear: both;
		height: auto;
		overflow: hidden;
		padding-right: 10px;
		margin-left: 0;
	}
	.woocommerce-cart .woocommerce .span3 {
		margin-top: 40px;
	}
	.woocommerce .coupon-input {
		width: 49%;
	}
	.woocommerce-cart table.cart td.actions input[name="apply_coupon"] {
		width: 49%;
		margin-left: 2%;
	}
	.woocommerce table.cart td.actions input[name="update_cart"] {
		width: 100%;
		margin-top: 30px;
	}
	.products .product figure figcaption .thumb-info {
		display: none;
	}
	.woocommerce-shop-page.has-one-sidebar[data-shopcolumns="5"] .product figcaption,
	.woocommerce-shop-page.has-one-sidebar[data-shopcolumns="6"] .product figcaption,
	.woocommerce-shop-page.has-both-sidebars[data-shopcolumns="5"] .product figcaption,
	.woocommerce-shop-page.has-both-sidebars[data-shopcolumns="6"] .product figcaption,
	.woocommerce-shop-page.has-one-sidebar[data-shopcolumns="5"] .product .cart-overlay,
	.woocommerce-shop-page.has-one-sidebar[data-shopcolumns="6"] .product .cart-overlay,
	.woocommerce-shop-page.has-both-sidebars[data-shopcolumns="5"] .product .cart-overlay,
	.woocommerce-shop-page.has-both-sidebars[data-shopcolumns="6"] .product .cart-overlay {
		display: none!important;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		white-space: normal;
	}
	.woocommerce table.cart .product-thumbnail {
		display: table-cell;
		width: auto;
		padding-right: 10px;
	}
	#tab-reviews #comments {
		width: 100%;
		margin-bottom: 30px;
	}
	#tab-reviews #review_form_wrapper {
		width: 100%;
	} 
	.woocommerce .has-no-sidebar div.product form.cart div.quantity {
		width: 100%;
		margin-bottom: 20px;
	}
	.woocommerce div.product form.cart .button {
		float: none;
		width: 100%;
	}
	.woocommerce .cart .yith-wcwl-divide {
		display: none;
	}
	.woocommerce form.cart .yith-wcwl-add-to-wishlist {
		margin-left: 0;
		margin-top: 20px;
		width: 100%;
	}
	.woocommerce .cart .yith-wcwl-add-to-wishlist a, .yith-wcwl-add-to-wishlist.oos a {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.recent-posts-list li .recent-post-image {
		float: none;
	}
	.recent-posts-list li .recent-post-details {
		margin-left: 0;
		padding: 15px 0;
	}
	.campaign-details-mini .detail {
		width: 100%;
		float: none;
		margin-top: 10px;
	}
}


/* --------------------------------------------
	iPHONE LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 767px) {
	
	/* LAYOUT */
	h1, h2, h3, h4 {
		word-break: break-word;
	}
	.col-sm-sf-5, .col-sm-sf-25 {
		width: 100%;
	}
	#site-loading .spinner {
		top: 60%;
	}
	body-port.overlay-menu-open {
		overflow: scroll;
	}
	#sf-header-banner {
		display: none;
	}
	.home #sf-header-banner {
		display: block;
	}
	#main-container {
		overflow: hidden;
	}
	.sidebar {
		height: auto!important;
	}
	.sidebar-widget-wrap.sticky-widget {
		width: auto!important;
		top: 0!important;
	}
	.page-heading .heading-text, .post-type-archive-product .page-heading .heading-text {
	    left: 30px;
	}
	.fancy-heading .page-heading .heading-text, .post-type-archive-product .fancy-heading .page-heading .heading-text {
		left: 0;
	}
	.fancy-style .page-heading.fancy-heading {
		height: auto!important;
		padding: 0!important;
	}
	.hero-content-split .page-heading .post-pagination {
		display: none;
	}
	.single-product .fancy-style .page-heading.fancy-heading {
		min-height: 0;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text[data-textalign="left"] #breadcrumbs {
		float: none;
		position: relative;
		bottom: 0;
		right: 0;
		text-align: left;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 0!important;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text[data-textalign="right"] #breadcrumbs {
		float: none;
		position: relative;
		bottom: 0;
		right: 0;
		text-align: right;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 0!important;
	}
	.page-heading.fancy-heading .heading-text {
		padding: 40px 0;
		margin-top: 0!important;
	}
	.fancy-tabbed-style .fancy-heading .heading-text {
		padding: 15px;
	}
	.page-heading h1 {
		word-wrap: normal;
		white-space: normal;
	}
	.page-heading .container {
		padding: 0 20px;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text[data-textalign="left"] h1 {
		float: none;
		text-align: left;
		margin-bottom: 10px;
		padding: 0 20px;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text h3 {
		padding: 0 20px;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text[data-textalign="right"] h1 {
		float: none;
		text-align: right;
		margin-bottom: 10px;
		padding: 0 20px;
	}
	.fancy-style .fancy-heading .heading-text > h1 {
		font-size: 32px;
		line-height: 46px;
	}
	.page-heading-breadcrumbs.fancy-heading .heading-text[data-textalign="center"] #breadcrumbs {
		border: 0;
		margin-top: 0;
		padding: 0 20px;
	}
	.spb-row-container.col-window-height {
		height: auto!important;
	}
	.spb-row-container.col-window-height > .spb_content_element, .spb-row-container.col-window-height > .spb_content_element > .container, .spb-row-container.col-window-height .container > .row, .spb-row-container.col-window-height .spb-column-container, .spb-row-container.col-window-height .spb-column-container .spb-asset-content {
		height: auto;
		min-height: 0!important;
	}
	.spb_parallax_asset.parallax-window-height[data-v-center="true"] > .spb_content_wrapper, .spb_parallax_asset.parallax-window-height[data-v-center="true"] > .spb_content_element {
		top: 0!important;
		margin-top: 0!important;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	.spb-asset-content {
		margin-top: 0!important;
		margin-bottom: 0!important;
	}
	.spb_parallax_asset.parallax-window-height {
		height: auto!important;
	}
/*	.spb-row-container[data-v-center="true"] .row > div {
		min-height: 0!important;
	}*/
	.spb-row-container[data-v-center="true"] .multi-column-row .spb-bg-color-wrap {
		position: relative;
	}
	.blank_spacer {
		margin-bottom: 0!important;
	}
	#container.boxed-layout {
		width: 100%;
	}
	[class*="span"], .uneditable-input[class*="span"], .row [class*="span"] {
		margin-bottom: 20px;
	}
	.inner-page-wrap {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.has-both-sidebars article, .has-both-sidebars .type-page, .has-both-sidebars .archive-page, .has-both-sidebars > .type-product, .has-both-sidebars .page-content, aside.sidebar, .has-left-sidebar article, .has-left-sidebar .type-page, .has-left-sidebar .archive-page, .has-left-sidebar .push-right, .single-post .content-right {
		float: none!important;
	}
	aside.sidebar {
		margin-top: 40px;
	}
	.fancy-tabbed-style .fancy-heading .heading-text h1 {
		margin-left: 0;
	}
	.fancy-tabbed-style .fancy-heading .heading-text #breadcrumbs {
		margin-right: 0;
	}
	#page-wrap {
		padding: 0 5px;
	}
	.page-heading .heading-text {
		margin-left: 0;
	}
	#back-to-top {
		opacity: 0.6!important;
	}
	h4.spb-center-heading {
		margin-top: 5px;
		margin-bottom: 25px;
	}
	.spb_text_column, .spb_content_element {
		margin-bottom: 30px;
	}
	.spb-section, .spb-promo-wrap, .spb_swift-slider, .spb_image, .spb-row-container, .spb-row-container > .spb_content_element {
		margin-bottom: 0;
	}
	.spb_parallax_asset.parallax-content-height {
		height: auto!important;
	}
	.sf-super-search .search-go {
		position: relative;
		bottom: 0;
		width: 100%;
		margin-top: 30px;
	    -webkit-transform: none;
	    -moz-transform: none;
	    transform: none;
	}
	.sf-super-search .search-go .super-search-go {
		width: 100%;
		text-align: center;
	}
	/*.mhs-tablet-land .sticky-widget.stickit {
		position: relative!important;
	}*/
	#commentform p[class^="comment-form-"] {
		width: 100%;
	}
	#commentform p.comment-form-url + p.comment-form-title {
		width: 100%;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		padding-right: 0;
	}
	.spb-row-container.remove-element-spacing div.carousel-asset {
		padding: 0;
	}
	.testimonials.carousel-items.showcase-carousel li .testimonial-text {
		padding: 0 60px;
	}
	#sidebar-progress-menu {
		display: none!important;
	}
	.impact-text-large, p.impact-text-large, .impact-text-large > * {
        font-size: 32px!important;
        line-height: 40px!important;
	}
	
	/* GENERAL */
	.tp-caption a.sf-button {
		padding: 0% 14%!important;
	}
	.carousel-wrap > a.carousel-prev {
		left: 30px;
	}
	.carousel-wrap > a.carousel-next {
		right: 30px;
	}
	.page-heading .heading-text, .post-type-archive-product .page-heading .heading-text {
		float: none;
		top: 0;
		left: 0;
	}
	.woocommerce .page-heading .woocommerce-ordering {
		margin-top: 20px;
	}
	.page-heading .woocommerce-count-wrap {
		float: none;
		text-align: center;
		height: auto;
		overflow: hidden;
		margin-right: 0;
		margin-bottom: 0;
		padding-top: 20px;
	}
	.page-heading .woocommerce-count-wrap p, .page-heading .woocommerce-count-wrap p {
		float: none;
		margin-left: 0;
	}
	#breadcrumbs {
		float: none;
		margin-top: 15px;
		display: none;
	}
	h4.spb-center-heading {
		max-width: 60%;
	}
	.sf-icon.sf-icon-large {
		line-height: 84px;
	}
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 select, .wpcf7 textarea {
		width: 100%;
		max-width: 100%;
	}
	.full-width-area.blog-masonry-fw {
		padding: 0 20px;
	}
	.filter-wrap {
		display: none;
		clear: both!important;
	}
	.post-filter-tabs li.all, .post-filter-tabs li.has-items {
		width: 46%;
		margin: 0 0 10px;
	}
	.sidebar.left-sidebar .sidebar-widget-wrap {
		padding-right: 0;
	}
	.sidebar.right-sidebar .sidebar-widget-wrap {
		padding-left: 0;
		position: relative;
	}
	.single-post .content-left, .single-post .left-sidebar {
		padding-left: 15px;
	}
	.single-post .content-right, .single-post .right-sidebar {
		padding-right: 15px;
	}

	/* HEADER */
	.mhs-mobile #mobile-top-text, .mhs-mobile #mobile-header, .mhs-mobile #mobile-header-sticky-wrapper {
		display: block;
	}
	.mhs-mobile .header-wrap, .mhs-mobile #top-bar, .mhs-mobile #top-bar-sticky-wrapper {
		display: none;
	}
	.mhs-mobile.vertical-header #container, .mhs-mobile.vertical-header #main-container {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	body.vertical-header.mhs-mobile #site-loading .spinner {
		left: auto;
		right: auto;
	}
	#sf-banner-widgets .widget {
		padding: 5px 0!important;
	}

	/* FOOTER */
	#base-promo p {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	#base-promo p.footer-promo-text {
		margin-bottom: 0;
	}
	#base-promo a.sf-button {
		margin: 0;
	}
	#footer {
		padding: 30px 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	#copyright nav .menu li {
		float: none;
		width: auto;
		border-top-width: 0;
	}

	/* POST */
	.mini-items .blog-item {
		padding-left: 15px;
		padding-right: 15px;
	}
	.content-wrap.extra-spacing blockquote {
		margin: 0 0 20px;
	}
	.content-wrap.extra-spacing > p > img {
		margin: 0 0 20px;
		width: auto;
		max-width: 100%;
	}
	.related-wrap {
		padding: 25px 15px 0;
	}
	.related-items .recent-post {
		width: 50%;
		float: left;
	}
	.standard-post-author {
		display: none;
	}
	.author-info-wrap, .post-info {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.post-details-wrap {
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.post-aux-wrap .post-pagination {
		margin-left: 0;
		margin-right: 0;
	}
	.post-pagination-wrap {
		padding: 20px 0;
	}
	.post-pagination-wrap.prev-next .next-article, .post-pagination-wrap.prev-next .prev-article {
		width: 100%;
		float: none;
	}
	.post-pagination-wrap.prev-next .next-article {
		margin-bottom: 20px;
	}
	.post-pagination-wrap h2 {
		font-size: 24px;
		line-height: 34px;
	}
	.standard-post-details {
		margin-top: 20px;
	}
	.tags-link-wrap .comments-likes {
		float: none;
		margin-top: 20px;
		height: auto;
		overflow: hidden;
		display: block;
		text-align: left;
		width: 100%;
	}
	.related-items li {
		width: 50%;
		float: left;
	}
	.blog-standard {
		padding: 0;
	}
	.timeline {
		left: 30px!important;
	}
	.blog-timeline.col-sm-8 .timeline {
		left: 50%!important;
	}
	#infscr-loading {
		margin: -20px 15px 0;
	}
	.detail-feature {
		min-height: 0!important;
	}
	.detail-feature .details-overlay h1 {
	    font-size: 30px;
	    line-height: 44px;
	}

	/* BLOG */
	.blog-masonry-fw .col-sm-3, .fw-row .blog-masonry .col-sm-3 {
		width: 100%;
	}
	.masonry-items .blog-item {
		width: 100%;
	}
	#commentform p {
		position: relative;
	}
	#commentform p > input#url {
		margin-top: 5px;
	}
	.post-info .author-info-wrap {
		width: 100%;
	}
	#respond .form-submit input[type="submit"] {
		width: 100%;
	}
	
	/* PORTFOLIO */
	.multi-masonry-items > li.portfolio-item {
		width: 100%!important;
	}
	.multi-masonry-items > li.portfolio-item figure {
		overflow: hidden;
	}
	.filterable-items > li, .filterable-items .portfolio-item {
		width: 100%;
		position: relative!important;
		top: 0!important;
		left: 0!important;
		-moz-transform: none!important;
		-webkit-transform: none!important;
		transform: none!important;
	}
	.browser-ff .portfolio-item.col-sm-4 {
	    width: 100%;
	}
	.multi-masonry-items .portfolio-item .multi-masonry-img-wrap, .multi-masonry-items .portfolio-item figure > img, .multi-masonry-items .product .multi-masonry-img-wrap, .multi-masonry-items .product figure > img {
		height: auto!important;
	}
	.multi-masonry-items .size-wide .multi-masonry-img-wrap, .multi-masonry-items .size-wide-tall .multi-masonry-img-wrap {
		margin-left: -50%;
	}
	.portfolio-details-wrap .item-link {
		float: none;
		display: block;
		margin-top: 20px;
	}
	.full-width-display-wrap figure.fw-media-wrap {
		margin-left: -20px!important;
	}
	.portfolio-options-bar ul.pagination-wrap {
		width: 40%;
	}
	.full-width-display-wrap .portfolio-options-bar {
		position: relative;
		top: 0;
		height: auto;
		overflow: hidden;
		margin-top: 20px;
	}
	article.type-portfolio figure.media-wrap.fw-media-wrap {
	    margin-bottom: 30px;
	}
	.single-portfolio .content-wrap.col-sm-9, .item-details.col-sm-3 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-details a.item-link {
		float: none;
		text-align: center;
		width: 100%;
	}
	.related-projects.gutters .portfolio-item {
		margin-bottom: 20px;
	}
	.post-poster-bar {
		line-height: 60px;
		min-height: 60px;
		height: 60px;
		position: relative;
		background: #222;
	}
	.post-poster-bar .post-nav {
		float: none;
		text-align: center;
	}
	.post-nav .divide {
		display: none;
	}
	.page-heading .post-nav {
	    float: none;
	    line-height: 30px;
	    width: 100%;
	    margin: 0 0 10px;
	    text-align: center;
	}
	.single-portfolio.page-heading-fancy .page-heading .heading-text {
	    float: none;
	    text-align: center;
	    width: 100%;
	    margin: 0;
	    padding: 25px 40px!important;
	}
	.single-portfolio.page-heading-standard .page-heading .heading-text {
		float: none;
		text-align: center;
		width: 100%;
		margin: 0;
	}
	.page-heading.fancy-heading .heading-text[data-textalign="center"] .prev-item {
		left: 20px;
	}
	.page-heading.fancy-heading .heading-text[data-textalign="center"] .next-item {
		right: 20px;
	}
	.post-nav .view-all, .post-nav .next-item, .post-nav .prev-item {
		display: inline-block;
		float: none;
		margin: 0 4px;
	}
	.single-portfolio-poster .detail-feature .details-overlay h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 auto;
	}
	.single-portfolio-poster .detail-feature .details-overlay h2 {
		font-size: 16px;
		line-height: 24px;
	}
	
	/* WIDGETS */
	.post-info > span {
		display: inline-block;
		max-width: 70%;
	}
	.article-body-wrap .share-links .share-text {
		padding: 8px 12px;
	}
	.article-body-wrap .share-links ul li > a, .article-body-wrap .share-links ul li > div {
		padding: 8px 14px;
	}

	/* SHORTCODES */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		height: auto;
		overflow: hidden;
	}
	.masonry-gallery .gallery-image {
		width: 100%;
	}
	.bold-items .blog-item {
		width: 100%;
	}
	.tp-caption a.sf-button {
		font-size: inherit;
		padding: 4% 8%;
		line-height: auto;
	}
	.portfolio-grid {
		overflow: hidden;
	}
	.portfolio-grid .tooltip {
		display: none!important;
	}
	.spb_tweets_slider_widget .text-large .tweet-text, .testimonials-slider .testimonial-text.text-large {
		font-size: 16px;
		line-height: 28px;
	}
	.spb_parallax_asset {
		background-attachment: scroll;
	}
	.portfolio-showcase-wrap ul {
		margin-right: 0!important;
		white-space: normal;
		margin-bottom: 0;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li, .portfolio-showcase-wrap ul[data-columns="5"] li {
		width: 100%!important;
		height: auto!important;
		display: block;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li .main-image, .portfolio-showcase-wrap ul[data-columns="5"] li .main-image {
		left: 0!important;
		width: 100%!important;
		top: 0!important;
		opacity: 1;
		position: relative;
		height: auto;
	}
	.portfolio-showcase-wrap ul li .item-info, .portfolio-showcase-wrap ul li .item-logo {
		display: none!important;
	}
	.portfolio-item.size-wide-tall ul.slides {
		max-height: none!important;
	}
	.portfolio-item.size-wide-tall ul.slides > li {
		margin-top: 0!important;
	}
	ul.team-members > li {
		width: 50%;
	}
	figcaption .thumb-info > ul.social-icons {
		display: none!important;
	}
	.spb_parallax_asset {
		width: auto;
	}
	.widget.flickr-widget ul {
		margin-right: 0;
	}
	.sf-image-banner > .image-banner-content {
		bottom: 50%!important;
	}
	.chart-shortcode {
		margin: 0 auto;
	}
	.gallery .gallery-item {
		min-width: 0;
		width: 46%!important;
	}
	.blog-grid-items .blog-item {
		width: 100%!important;
	}
	.blog-grid-items .blog-item.col-sm-sf-5 {
		width: 50%!important;
	}
	.spb_gmaps_widget .filter-search-container {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.spb_gmaps_widget .directory-filter {
		width: 33%;
		margin-left: 0;
		margin-right: 2%;
	}
	.directory-search-container {
		margin-left: 0;
		width: 30%;
	}
	.posts-carousel .owl-wrapper-outer {
		padding-top: 0;
	}
	.recent-posts.posts-type-standard {
		padding-top: 0;
		margin-bottom: 30px;
	}
	.sf-promo-bar.promo-button p {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.spb_testimonial_slider_widget .testimonial-icon, .spb_tweets_slider_widget .tweet-icon {
		padding: 0 60px;	
	}
	.spb_testimonial_slider_widget .content-slider .lSSlideWrapper, .spb_tweets_slider_widget .content-slider .lSSlideWrapper, .testimonials-slider .testimonial-text, .testimonials-slider cite, .testimonials-slider cite span {
		padding: 0 30px 45px!important;
	}
	.posts-type-standard-row .figure-wrap {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.posts-type-standard-row .has-thumb .details-wrap {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	}
	.recent-post {
		margin-bottom: 40px;
	}
	.post-navigation-wrap .nav-links .nav-previous {
		float: none;
		width: 100%;
		margin-bottom: 25px;
		text-align: center;
	}
	.post-navigation-wrap .nav-links .nav-next {
		float: none;
		width: 100%;
		text-align: center;
	}

	/* WOOCOMMERCE */
	.inner-page-wrap.woocommerce-shop-page, .page-heading-standard .inner-page-wrap.woocommerce-shop-page, .page-heading-fancy .inner-page-wrap.woocommerce-shop-page {
		margin-top: 30px;
	}
	.woocommerce .page-description {
		padding: 0 20px;
	}
	.product-main {
		padding-left: 30px;
		padding-right: 30px;
	}
	.product-after-summary {
		padding-left: 30px;
		padding-right: 30px;
	}
	.product-fw-split #product-img-slider .lSSlideOuter .lSPager.lSGallery {
		top: 30px;
		left: 30px;
	}
	.woocommerce div.product div.images, .woocommerce div.product div.summary {
		width: 100%!important;
		padding-left: 0;
	}
	.product-fw-split div.product div.summary {
		padding: 30px;
		margin-bottom: 30px;
	}
	.woocommerce div.product div.summary {
		padding-top: 30px;
	}
	.woocommerce div.product div.summary .summary-top h1 {
		max-width: 90%;
	}
	.woocommerce ul.products li.product, .woocommerce ul.products li.product.col-sm-4, .woocommerce ul.products li.product.col-sm-3, .woocommerce ul.products li.product.col-sm-2 {
		width: 50%;
		float: left;
	}
	.woocommerce .multi-masonry-items .product {
		width: 100%!important;
		float: none;
	}
	.multi-masonry-items .product.size-tall .multi-masonry-img-wrap img {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		margin-bottom: -1px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		width: 100%;
		display: inline-block;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child {
		margin-left: 0!important;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
		border-radius: 0;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		max-width: 100%;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-right-width: 1px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}
	.woocommerce div.product .woocommerce-tabs .panel {
		width: 100%;
		border-radius: 0 0 4px 4px;
	}
	#product-reviews-wrap #comments {
		width: 100%;
		padding-right: 15px;
	}
	#product-reviews-wrap #review_form_wrapper {
		width: 100%;
		float: none;
	}
	.full-width-shop li.product, .full-width-shop .sidebar[class*="col-sm"] {
		width: 50%!important;
	}
	.woocommerce .woocommerce-message a.button {
		display: block;
	}
	#order_review table.shop_table td.product-img {
		width: 20%;
	}
	#order_review table.shop_table td.product-description {
		width: 50%;
	}
	#order-details {
		padding-right: 15px;
	}
	.woo-aux-options .shop-layout-opts > a[data-layout="solo"] {
		display: inline-block;
	}
	.woo-aux-options .shop-layout-opts > a[data-layout="grid"], .woo-aux-options .shop-layout-opts > a[data-layout="list"] {
		display: none;
	}
	.woocommerce div.product .woocommerce-tabs {
		border-top: 0;
		padding-top: 0;
		margin-top: 40px;
	}
	.product-related-wrap {
		padding: 0 30px;
	}
	.woocommerce table.shop_table.cart td.product-name {
		max-width: 120px;
	}
	.woocommerce .shipping-calc-wrap {
		width: 100%;
	}
	.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {
		float: none!important;
		width: 100%!important;
	}
	.my-account-left {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.my-account-right {
		float: none;
		width: 100%;
	}
	table.wishlist_table .product-price, table.wishlist_table .product-stock-status {
		display: none;
	}
	.woocommerce-cart .woocommerce .span9, .woocommerce-cart .woocommerce .span3 {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.woocommerce table.shop_table, .woocommerce-page table.shop_table {
		margin-bottom: 30px;
		border-bottom: 0;
	}
	.woocommerce-page .cart-collaterals {
		margin-bottom: 30px;
	}
	.woocommerce table.shop_table .product-thumbnail, .woocommerce table.shop_table .product-unitprice, .woocommerce table.shop_table .product-price {
		display: none;
	}
	.woocommerce table.shop_table .product-name .price, .woocommerce-cart table.shop_table .product-name .amount {
		display: block;
	}
	.woocommerce .shipping-calc {
		float: none;
		width: 100%;
		height: auto;
	}
	.woocommerce .coupon {
		float: none;
		width: 100%;
		margin-left: 0;
		height: auto;
		overflow: hidden;
		margin-bottom: 40px;
		padding-top: 10px;
	}
	.woocommerce .help-bar {
		margin-bottom: 20px;
	}
	.woocommerce .help-bar ul li, .woocommerce .help-bar ul li:first-child {
		margin: 15px 7px 0;
	}
	.already-logged-in, .checkout-process, #billing .proceed {
		display: none;
	}
	.checkout-pane {
		display: block!important;
		margin-top: 40px;
	}
	#billing {
		margin-top:80px;
	}
	ul.checkout-process {
		display: none;
	}
	.woocommerce form #billing #shiptobilling {
		float: none;
		margin: 0;
	}
	.woocommerce span.onsale, .woocommerce .wc-new-badge, .woocommerce .out-of-stock-badge {
		display: none;
	}
	.summary .product_meta .need-help, .summary .product_meta .leave-feedback {
		display: block;
		float: none;
		margin-bottom: 5px;
	}
	#order_review table.shop_table {
		border-bottom: 1px solid #e3e3e3;
	}
	#order_review table.shop_table td.product-description {
		width: 40%;
	}
	#order_review table.shop_table td.product-unitprice, #order_review table.shop_table td.product-quantity, #order_review table.shop_table td.product-subtotal {
		width: 20%;
	}
	table.totals_table {
		width: 100%;
	}
	.product-type-standard .product .cart-overlay {
		display: none;
	}
	.multi-masonry-items .product .cart-overlay {
		display: inline-block!important;
	}
	.shop-layout-opts {
		display: none;
	}
	.woocommerce-count-wrap {
		display: none;
	}
	.sf-mobile-shop-filters-link {
		display: block;
	}
	.mobile-woo-aux-details .shop-layout-opts {
		display: block;
	}
	.full-width-shop .mobile-woo-aux-details .shop-layout-opts {
		display: none;
	}
	.mobile-woo-aux-options {
		display: block;
	}
	.my_account_orders td.order-number {
		font-size: 16px;
	}
	.woocommerce table.my_account_orders tr td {
		padding-right: 10px;
	}
	.woocommerce table.my_account_orders tr th.order-actions, .woocommerce table.my_account_orders tr td.order-actions {
		display: block;
		max-width: none;
		text-align: left;
	}
	.my_account_orders th.subscription-title, .my_account_orders td.subscription-title {
		max-width: none;
	}
	.woocommerce .coupon-input {
		width: 100%;
		margin-bottom: 20px;
	}
	.woocommerce-cart table.cart td.actions input[name="apply_coupon"] {
		width: 100%;
		margin-left: 0%;
	}
	.woocommerce table.cart td.actions input[name="update_cart"] {
		width: 100%;
		margin-top: 30px;
	}
	.woocommerce .shipping-calculator-form button[type="submit"] {
		width: 100%;
		margin-right: 0;
	}
	.product-fw-split #product-img-slider {
		padding: 0;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
	    float: none;
	    width: 100%;
	}
	
	/* EVENTS CALENDAR */
	#tribe-bar-views .tribe-bar-views-list {
		margin-top: 10px;
	}
}

/* --------------------------------------------
	iPHONE PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 479px) {

	/* GENERAL */
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#main-container {
		width: 100%;
	}
	table.sf-table {
	    display: block;
	    overflow: scroll;
	    max-width: 100%;
	}
	.col-sm-sf-5, .col-sm-sf-25 {
		width: 100%;
	}
	a.sf-button {
		max-width: 100%;
	}
	.flexslider .flex-direction-nav {
		display: none;
	}
	.title-wrap.has-button {
		text-align: center
	}
	.title-wrap .carousel-arrows {
		margin-left: 5px;
		margin-top: 1px;
	}
	.title-wrap.has-button .spb-heading {
		float: none;
		text-align: center;
	}
	.title-wrap a.sf-button {
		min-width: 40px;
		float: none;
		margin-top: 10px;
		display: none;
	}
	.title-wrap a.sf-button span.text {
		display: none;
	}
	.carousel-wrap > a.carousel-prev {
		left: 30px;
	}
	.carousel-wrap > a.carousel-next {
		right: 30px;
	}
	.tabbed-heading-wrap h1 {
		float: none!important;
	}
	.tabbed-heading-wrap #breadcrumbs {
		position: relative!important;
		float: none!important;
		margin-top: 15px;
		right: auto!important;
		left: auto!important;
		bottom: auto!important;
	}
	.page-heading-standard .page-heading {
		padding: 20px 0;
	}
	.page-heading.fancy-heading .heading-text {
		padding: 25px 0;
		width: 100%;
	}
	.fancy-tabbed-style .page-heading.fancy-heading .heading-text {
		padding: 14px 20px;
	}
	.page-heading-breadcrumbs h1 {
		margin-bottom: 10px;
	}
	.page-heading-breadcrumbs #breadcrumbs {
		max-width: 100%;
		white-space: normal;
		line-height: 28px!important;
	}
	.swiper-slide .caption-content {
		padding: 0 10px;
	}
	.staged-carousel .owl-item {
		opacity: 0.99;
		pointer-events: all;
	}
	.staged-carousel .owl-item .lSAction {
		display: none!important;
	}
	.wpcf7 input.wpcf7-submit[type="submit"] {
		float: none;
		width: 100%;
	}
	.myaccount_user h4, .my-address-wrap > h4 {
		border-right-width: 0;
		margin-right: 0;
		margin-bottom: 5px;
		float: none;
	}

	/* HEADER */
	#logo img, #logo img.retina {
		max-width: 200px;
		height: auto!important;
	}

	/* FOOTER */
	#copyright nav .menu li {
		border-top-width: 1px;
		border-left: 0;
	}
	#copyright nav .menu li:first-child {
		border-top-width: 0;
	}

	/* BLOG */
	.blog-grid-items .blog-item h2.tweet-text, .blog-grid-items .instagram-item .inst-overlay h2 {
		font-size: 32px!important;
		line-height: 150%!important;
	}
	.blog-aux-options li {
		display: block;
		margin-left: 0;
	}
	.blog-aux-options li form input {
		width: 100%;
	}
	.comment-meta-actions {
		position: relative;
		margin-bottom: 10px;
	}
	.comment-meta-actions .edit-link {
		margin-left: 0;
	}
	.article-body-wrap .share-links .share-text {
		display: none;
	}
	.article-body-wrap .share-links ul li > a, .article-body-wrap .share-links ul li > div {
		padding: 8px 10px;
	}
	.article-body-wrap .share-links ul li:first-child {
		border-left: 0;
	}
	.post-info > span {
		margin-bottom: 10px;
		max-width: 100%;
	}
	.masonry-items .blog-item {
		width: 100%;
	}
	.pagination-wrap li.prev a, .pagination-wrap li.next a {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.related-items .recent-post {
		width: 100%;
	}
	.post-pagination .prev-article {
		width: 100%;
		margin-bottom: 30px;
	}
	.mini-items .blog-item figure {
		width: 100%!important;
		float: none;
		margin-right: 0!important;
		margin-left: 0!important;
		margin-bottom: 30px;
	}
	.mini-items .blog-item .blog-details-wrap {
		width: 100%;
		float: none;
	}
	.timeline-items .blog-item-aux .comments-likes {
		float: none;
		margin-top: 10px;
	}
	ul.blog-aux-options {
	    text-align: center;
	}
	ul.blog-aux-options li {
	    float: none;
	}
	.blog-aux-options li.search {
		display: none;
	}

	/* PORTFOLIO */
	.filterable-items .portfolio-item {
		width: 100%;
		position: relative!important;
	}
	.item-details.horizontal-details time, .item-details.horizontal-details .client, .item-details.horizontal-details .project {
		float: none;
		margin-left: 0;
		padding-left: 0;
		border-left-width: 0;
		line-height: 30px;
	}


	/* SHORTCODES */
	.carousel-wrap.product-carousel {
		margin-left: -10px;
	}
	h3.spb-center-heading, h4.spb-center-heading {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.nav-tabs>li {
		width: 100%;
		margin-left: 0!important;
		text-align: center;
	}
	.spb_tabs .nav-tabs li a {
		border-left-width: 1px!important;
	}
	.spb_tabs .nav-tabs li a {
		padding: 0;
	}
	.spb_tabs .nav-tabs li:first-child a, .spb_tabs .nav-tabs li:last-child a {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	.spb_tour .nav-tabs {
		width: 100%;
		float: none;
	}
	.spb_tour .nav-tabs>li {
		width: 100%;
	}
	.spb_tour .tab-content {
		padding: 30px 30px 10px;
		margin-left: 0;
	}
	.gallery-columns-3 .gallery-item {
		width: 100%!important;
		margin: 0 0 20px;
	}
	.directory-item figure {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.directory-item .directory-item-details {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.spb_gmaps_widget .filter-search-container {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.spb_gmaps_widget .directory-filter {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.directory-search-container {
		float: none;
		width: 100%;
	}
	.sf-promo-bar p {
		display: block;
	}
	.sf-promo-bar.promo-arrow>a>i {
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}
	.carousel-wrap.product-carousel {
		max-width: 100%;
		margin-left: 0;
		overflow: hidden;
	}

	/* WOOCOMMERCE */
	.woocommerce ul.products li.product, .woocommerce ul.products li.product.col-sm-4, .woocommerce ul.products li.product.col-sm-3, .woocommerce ul.products li.product.col-sm-2 {
		width: 100%;
		float: none;
	}
	.woocommerce ul.products li.product.col-sm-sf-5 {
		width: 50%;
		float: left;
	}
	.full-width-shop.product {
		width: 100%!important;
	}
	.full-width-shop .sidebar[class*="col-sm"] {
		display: none;
	}
	.full-width-shop .mobile-woo-aux-details .shop-layout-opts {
		display: block;
	}
	.woocommerce-count-wrap {
		float: left;
		margin-bottom: 20px;
		width: 45%;
		height: auto;
		overflow: hidden;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: right;
		width: 56%;
		margin-bottom: 0;
	}
	.woocommerce table.shop_table tr td.product-quantity .quantity {
		margin-right: 0;
		margin-left: 12px;
	}
	ul.checkout-process li {
		width: 50%;
	}
	.woocommerce form #billing .form-row label {
		float: none;
		width: 100%;
	}
	.woocommerce form #billing .form-row input {
		float: none;
		width: 100%;
	}
	.woocommerce-checkout .form-row .chzn-container {
		width: 100%!important;
	}
	.woocommerce form #billing .form-row textarea {
		float: none;
		width: 100%;
	}
	.change_password_form p.form-row {
		width: 100%;
		float: none;
	}
	table.shop_table.my_account_orders .order-date, table.shop_table.my_account_orders .order-amount {
		display: none;
	}
	table.wishlist_table .product-thumbnail {
		display: none;
	}
	.woocommerce .shipping-calculator-form .form-row-left {
		width: 100%;
		margin: 0 0 15px;
	}
	.woocommerce .shipping-calculator-form .update-totals-button {
		width: 100%;
	}
	.track_order p.form-row {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.woocommerce #account_details .new-here-text {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.woocommerce #account_details .bag-buttons {
		width: 100%;
		float: none;
		margin-top: 20px;
	}
	.product-fw-split .product-main {
		padding: 20px 0 0;
	}
	.product-fw-split #product-img-slider .lSSlideOuter .lSPager.lSGallery {
		top: 0;
		left: 10px;
	}
	.woocommerce div.product div.images {
		float: none;
		padding-bottom: 20px;
	}
	.woocommerce div.product div.summary {
		float: none;
	}
	.woocommerce .quantity .minus, .woocommerce .quantity .plus {
		display: none;
	}
	.woocommerce .summary .quantity .minus, .woocommerce .summary .quantity .plus {
		display: block;
	}
	.woocommerce .summary .quantity input.qty {
		border-left-width: 1px;
	}
	#product-img-slider li a.zoom {
		display: none;
	}
	.woocommerce form.cart button.add_to_cart_button {
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.woocommerce form.cart .yith-wcwl-add-to-wishlist, .yith-wcwl-add-to-wishlist.oos {
		margin-left: 0;
	}
	.woocommerce .shop_table.cart .quantity .qty-adjust {
		display: none;
	}
	.woocommerce .woocommerce-breadcrumb {
		margin-bottom: 20px;
	}
	div.product-navigation {
		display: none;
	}
	.woocommerce div.product form.cart div.quantity {
		margin-bottom: 20px!important;
		margin-right: 0!important;
		width: 100%;
		float: none!important;
		max-width: none;
		position: relative;
	}
	.woocommerce .summary .quantity input.qty {
		border-left-width: 1px;
		width: 100%;
		padding-right: 16px;
	}
	.woocommerce .quantity .qty-adjust {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		border-left-width: 1px;
		border-left-style: solid;
	}
	.woocommerce form.cart .yith-wcwl-add-to-wishlist, .yith-wcwl-add-to-wishlist.oos {
		float: none;
		width: 100%;
		margin-top: 0;
		text-align: center;
	}
	.woocommerce div.product form.cart .button {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.woocommerce div.product div.summary .sf-share-counts .share-text {
		display: none
	}
	.woocommerce #reviews #comments ol.commentlist li .comment-details {
		float: none;
		width: 100%;
	}
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		margin-left: 0;
	}
	.woocommerce #review_form #respond p.form-submit {
		width: 100%;
		float: none;
	}
	.woocommerce #review_form #respond p.form-submit input[type="submit"] {
		width: 100%;
	}
	.woocommerce-info a.showcoupon {
		display: block;
	}
	#order_review table.shop_table th.product-img, #order_review table.shop_table td.product-img {
		display: none;
	}
	.woocommerce #payment #place_order {
		width: 100%;
		height: 60px;
		line-height: 60px;
		margin-bottom: 0!important;
	}
	.woo-aux-options .shop-layout-opts {
		display: none;
	}
	.woocommerce .products .product.product-layout-grid {
		width: 50%;
		float: left;
	}
	.woocommerce .products .product.product-layout-grid .cart-overlay {
		display: none!important;
	}
	.cart-totals-wrap a.continue-shopping {
		display: block;
		text-align: center;
		margin: 20px 0;
	}
	.fw-row .products-full-width.product-type-standard {
		margin: 0 10px;
	}
	.woocommerce form #customer_details .form-row label, .woocommerce form #customer_details .form-row input, .woocommerce form #customer_details .form-row textarea {
		float: none;
		width: 100%;
	}
	.review-order-wrap {
		padding: 30px 30px 0;
	}
	.review-order-wrap #payment {
	    margin: 0px -30px 0;
	}
	.woocommerce #payment .terms label {
		max-width: 85%;
	}
	.woocommerce-checkout > ul.woocommerce-error {
		margin: 0 15px 30px!important;
	}
	.woocommerce form.checkout_coupon {
		padding: 20px 0;
	}
	.woocommerce form.checkout_coupon .form-row-last {
		margin-left: 15px;
	}
	.full-width-shop .product, .full-width-shop .sidebar[class*="col-sm"] {
		width: 100%!important;
	}
	.woocommerce-account div.col2-set.addresses .col-1, .woocommerce-account div.col2-set.addresses .col-2 {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.woocommerce table.shop_table tr td, .woocommerce-page table.shop_table tr td {
 		padding: 30px 5px 30px 0;
	}
	.woocommerce table.shop_table, .woocommerce table.shop_table p {
		font-size: 12px;
	}
	.woocommerce .shipping-calculator-form #calc_shipping_country_field {
		width: 100%;
	}
	.woocommerce .shipping-calculator-form #calc_shipping_state_field {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.woocommerce .shipping-calculator-form #calc_shipping_postcode_field {
	    width: 100%;
	    float: none;
	    clear: both;
	}
	.woocommerce form #customer_details .form-row .select2-container {
	    width: 100%!important;
	}
	.woocommerce #review_form #respond p.comment-form-rating {
		width: 100%;
	}
	
	/* SHORTCODES */
	.sf-icon-box.sf-icon-box-left-icon-alt > i {
		font-size: 24px;
		width: 24px;
	}
	.sf-icon-box.sf-icon-box-left-icon-alt .sf-icon-box-content-wrap {
		margin-left: 45px;
	}
	.blog-grid-items .blog-item {
		width: 100%!important;
	}
	.blog-grid-items .blog-item.col-sm-sf-5 {
		width: 100%!important;
	}
}