 html,body{
    height:100%;
  }
  .honest-brew{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .honest-brew .is-circle{
    border-radius:50%;
  }
  .honest-brew .wrap{
    width:500px;
    height:500px;
    background:black;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .honest-brew .wrap .object {
    width:30px;
    height:30px;
    background:red;
    animation: rotate 15s linear infinite;
  }

  @keyframes rotate {
    from {
        transform: rotate(0) translateX(250px);
    }
    to {
      transform: rotate(360deg) translateX(250px);
    }
  }