<script>
export default {

  props: ['middletext'],

  data () {
    return {

    }
  },

  methods: {

  },

}
</script>

<template>
    <div class="column is-one-third" >
        <div class="wrap is-circle"> 
            <div class="object is-a is-circle"></div>
                 <div class="middle-text">{{ middletext }}</div> 
        </div>
     </div>
</template>
